[Desktop Entry]
Version=1.0
Name=Mi Aplicación
Comment=Lanza mi aplicación desde GitHub
Exec=xdg-open http://localhost/GestionGuardias/PROYECTO/REST/rest_cliente/login.php
Icon=/ruta/a/icono.png
Terminal=false
Type=Application
Categories=Utility;

