 /* Estilo para el contenedor del mensaje */
 .alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px; /* Ancho del mensaje */
    z-index: 9999; /* Asegura que el mensaje esté por encima de otros elementos */
    overflow: hidden; /* Evita que el texto se desborde del contenedor */
}

/* Opcional: Estilo para los mensajes de alerta */
.alert-container .alert {
    padding: 15px;
    font-size: 14px; /* Ajusta el tamaño del texto */
    text-align: center;
    white-space: normal; /* Permite que el texto se divida en varias líneas */
    word-wrap: break-word; /* Rompe las palabras largas que no caben en una línea */
}


/* 2) Degradado en las cabeceras (<th>) */
table.table-guardias thead tr th {
background: linear-gradient(135deg, #0f1f2d, #18362f) !important;
color: #fff !important;
}
  .navbar-toggler {
  background-color: #0f1f2d !important;  /* tu azul custom */
  border: 2px solid #fff !important;     /* borde blanco */
}

/* 2) Icono: tres barras blancas */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7H26 M4 15H26 M4 23H26'/%3E%3C/svg%3E");
}


.navbar-toggler:hover {
  background-color: #18362f !important;  /* un tono ligeramente distinto si quieres */
}
::-webkit-scrollbar {
  display: none; 
}

